<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HermesApp_Branding</key>
	<string>Regent</string>
	<key>HermesApp_SYSVAL_BAR_AZTEK</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_CODABAR</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_CODE11</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_CODE128</key>
	<true/>
	<key>HermesApp_SYSVAL_BAR_CODE25_I2OF5</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_CODE25_NI2OF5</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_CODE39</key>
	<true/>
	<key>HermesApp_SYSVAL_BAR_CODE93</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_CPCBINARY</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_DATAMATRIX</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_DUN14</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_EAN128</key>
	<true/>
	<key>HermesApp_SYSVAL_BAR_EAN13</key>
	<true/>
	<key>HermesApp_SYSVAL_BAR_EAN2</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_EAN5</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_EAN8</key>
	<true/>
	<key>HermesApp_SYSVAL_BAR_GS1DATABAR</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_INTELLIGENT_MAIL</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_ITF14</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_LATENT_IMAGE</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_MAXICODE</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_MICROPDF417</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_MSI</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_PDF417</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_PHARMACODE</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_PLANET</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_PLESSEY</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_POSTBAR</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_POSTNET</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_QRCODE</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_RM4SCC</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_TELEPEN</key>
	<false/>
	<key>HermesApp_SYSVAL_BAR_UPC</key>
	<true/>
	<key>HermesApp_SYSVAL_BEEP</key>
	<true/>
	<key>HermesApp_SYSVAL_DEFAULT_BEEP</key>
	<true/>
	<key>HermesApp_SYSVAL_DEMO_MODE</key>
	<string>TRUE</string>
	<key>HermesApp_SYSVAL_ENABLE_AKKU</key>
	<false/>
	<key>HermesApp_SYSVAL_ENABLE_ENGINE</key>
	<string>TRUE</string>
	<key>HermesApp_SYSVAL_ENABLE_MSR</key>
	<false/>
	<key>HermesApp_SYSVAL_ENABLE_SCAN_BUTTON</key>
	<true/>
	<key>HermesApp_SYSVAL_HOST</key>
	<string>hermesdemo.dataphone.ch</string>
	<key>HermesApp_SYSVAL_MSR_RAW</key>
	<string>FALSE</string>
	<key>HermesApp_SYSVAL_MULTI_SCAN_MODE</key>
	<false/>
	<key>HermesApp_SYSVAL_PATH</key>
	<string>evoweb/hermes</string>
	<key>HermesApp_SYSVAL_PORT</key>
	<string>80</string>
	<key>HermesApp_SYSVAL_RUN_alwaysWithProofOfDelivery</key>
	<string>FALSE</string>
	<key>HermesApp_SYSVAL_RUN_withDistanceCheck</key>
	<string>300</string>
	<key>HermesApp_SYSVAL_RUN_withImageAsReceipt</key>
	<false/>
	<key>HermesApp_SYSVAL_RUN_withImageForTourlocation</key>
	<true/>
	<key>HermesApp_SYSVAL_RUN_withImageForTransPortCodes</key>
	<true/>
	<key>HermesApp_SYSVAL_RUN_withImageSyncMode</key>
	<string>FALSE</string>
	<key>HermesApp_SYSVAL_RUN_withMapSpan</key>
	<string>3</string>
	<key>HermesApp_SYSVAL_RUN_withProofOfDeliverySyncMode</key>
	<string>TRUE</string>
	<key>HermesApp_SYSVAL_RUN_withSignatureAsReceipt</key>
	<true/>
	<key>HermesApp_SYSVAL_RUN_withSwitchToApp</key>
	<true/>
	<key>HermesApp_SYSVAL_RUN_withSwitchToLoad</key>
	<string>FALSE</string>
	<key>HermesApp_SYSVAL_RUN_withTourAdjustment</key>
	<string>TRUE</string>
	<key>HermesApp_SYSVAL_RUN_withTourFinishCheck</key>
	<string>MSG</string>
	<key>HermesApp_SYSVAL_RUN_withTourType</key>
	<string>1XX</string>
	<key>HermesApp_SYSVAL_SCAN_TIMEOUT</key>
	<false/>
	<key>HermesApp_SYSVAL_SCHEME</key>
	<string>http</string>
	<key>HermesApp_SYSVAL_SYNC_BUTTON</key>
	<true/>
	<key>LogisOnline_SYSVAL_HOST</key>
	<string>mobile-test.valoraordersystem.com</string>
	<key>LogisOnline_SYSVAL_PATH</key>
	<string>evoweb/iPhone</string>
	<key>LogisOnline_SYSVAL_PORT</key>
	<string>80</string>
	<key>LogisOnline_SYSVAL_SCHEME</key>
	<string>http</string>
</dict>
</plist>
