<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Programm</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Modus</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_DEMO_MODE</string>
			<key>Values</key>
			<array><string>FALSE</string><string>TRUE</string></array>
			<key>Titles</key>
			<array><string>normal</string><string>Demo</string></array>
			<key>DefaultValue</key>
			<string>FALSE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Optionen</string>
			<key>File</key>
			<string>ApplicationInfo</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Netzwerk</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>File</key>
			<string>ServerInfo</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Hardware</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Scanner</string>
			<key>File</key>
			<string>BarcodeEngine</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Magnetkartenleser</string>
			<key>File</key>
			<string>CardReader</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Drucker</string>
			<key>File</key>
			<string>Printer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Extras</string>
			<key>File</key>
			<string>System</string>
		</dict>
	</array>
</dict>
</plist>