<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BarcodeEngine.plist
   HermesApp

   Created by Lutz  Thalmann on 13.08.10.
   Copyright 2010 __MyCompanyName__. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Gerätetaste aktiv</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_ENABLE_SCAN_BUTTON</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Gerätetaste sync</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_SYNC_BUTTON</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Signalton</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BEEP</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Standardsignalton</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_DEFAULT_BEEP</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Multiscan</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_MULTI_SCAN_MODE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Multiscan TimeOut 6s</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_SCAN_TIMEOUT</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Barcode Engine</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_ENABLE_ENGINE</string>
			<key>Values</key>
			<array><string>FALSE</string><string>TRUE</string></array>
			<key>Titles</key>
			<array><string>normal</string><string>immer an</string></array>
			<key>DefaultValue</key>
			<string>TRUE</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Passthrough Sync</string>
            <key>Key</key>
            <string>HermesApp_SYSVAL_PASSTHROUGH_SYNC</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Barcode Typen</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EAN 8</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_EAN8</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EAN 13</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_EAN13</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EAN 128 / UCC</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_EAN128</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EAN 13+2 addon</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_EAN2</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EAN 13+5 addon</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_EAN5</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>UPC</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_UPC</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>GS1 Databar</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_GS1DATABAR</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Codabar</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODABAR</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Code 11</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODE11</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Code 25 NI 2of5</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODE25_NI2OF5</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Code 25 I 2of5</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODE25_I2OF5</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Code 39</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODE39</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Code 93</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODE93</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Code 128</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CODE128</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>CPC Binary</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_CPCBINARY</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>DUN 14</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_DUN14</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ITF 14</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_ITF14</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Latent Image Barcode</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_LATENT_IMAGE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Intelligent Mail Barcode</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_INTELLIGENT_MAIL</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Pharmacode</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_PHARMACODE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PLANET</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_PLANET</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>POSTNET</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_POSTNET</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PostBar</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_POSTBAR</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>MSI/Plessey</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_MSI</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>UK/Plessey</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_PLESSEY</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>RM4SCC / KIX</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_RM4SCC</string>
			<key>DefaultValue</key>
			<false/>
		</dict>	
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Telepen</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_TELEPEN</string>
			<key>DefaultValue</key>
			<false/>
		</dict>	
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PDF417</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_PDF417</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>uPDF417</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_MICROPDF417</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Data Matrix</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_DATAMATRIX</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Aztek</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_AZTEK</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>QR Code</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_QRCODE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Maxi Code</string>
			<key>Key</key>
			<string>HermesApp_SYSVAL_BAR_MAXICODE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>	
	</array>
</dict>
</plist>
